<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyj.hiddendanger.auth.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.zyj.hiddendanger.model.po.Role">
            <id property="id" column="id" />
            <result property="roleName" column="role_name" />
            <result property="creatorId" column="creator_id" />
            <result property="updaterId" column="updater_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,creator_id,updater_id,create_time,update_time,
        deleted
    </sql>
</mapper>
