<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyj.hiddendanger.auth.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zyj.hiddendanger.model.domain.User">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"
                typeHandler="com.zyj.hiddendanger.database.handler.PasswordEncryptTypeHandler"/>
        <result property="realName" column="real_name"/>
        <result property="departmentId" column="department_id"/>
        <result property="roleId" column="role_id"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="status" column="status"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <resultMap id="UserInfoDTOResultMap" type="com.zyj.hiddendanger.model.service.auth.dto.UserInfoDTO">

        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"
                typeHandler="com.zyj.hiddendanger.database.handler.PasswordEncryptTypeHandler"/>
        <result property="realName" column="real_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,account,password,real_name,department_id,role_id,
        phone_number,status,creator_id,updater_id,create_time,
        update_time,deleted
    </sql>
    <select id="getUserInfoByAccount" resultType="com.zyj.hiddendanger.model.service.auth.dto.UserInfoDTO"
            resultMap="UserInfoDTOResultMap">
        select u.id,
               account,
               password,
               real_name,
               phone_number,
               department_id,
               role_id,
               d.department_name,
               r.role_name,
               u.status
        from user as u
                 left join department as d on u.department_id = d.id
                 left join role as r on u.role_id = r.id
        where u.account = #{account}
    </select>
    <select id="getUserInfoById" resultType="com.zyj.hiddendanger.model.service.auth.dto.UserInfoDTO"
            resultMap="UserInfoDTOResultMap">
        select u.id,
               account,
               password,
               real_name,
               phone_number,
               department_id,
               role_id,
               d.department_name,
               r.role_name,
               u.status
        from user as u
                 left join department as d on u.department_id = d.id
                 left join role as r on u.role_id = r.id
        where u.id = #{id}
    </select>
</mapper>
